@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:wght@700&display=swap");

*, ::after, ::before {
    box-sizing: border-box;
}

/* html {
    overflow-y: hidden;
  } */

:root{
    font-family: "Roboto Condensed", sans-serif;
    --main-color: black;
    --second-color: white;
    --third-color: rgba(182, 0, 0, 0.432);
    scroll-behavior: smooth;
}

body{
    max-width: 1100px;
    background-color: black;
    margin: auto;
    font-family: "Roboto Condensed", sans-serif;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--main-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenavItems{
      display: grid;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 35%;
      z-index: 999;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: var(--second-color);
    z-index: 999;
    transition: 0.5s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgba(182, 0, 0, 0.432);
    transition: 0.5s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    z-index: 999;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #hamburger{
      display: grid;
      margin: -3px 0 0 0;
      justify-content: center;
      align-items: center;
  }

h1{
    color:white;
}

h2{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

p{
    color:white;
}