@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:wght@700&display=swap");

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
  }

:root{
    font-family: "Roboto Condensed", sans-serif;
    --main-color: black;
    --accent-color: white;
    scroll-behavior: smooth;
}

body{
    max-width: 1100px;
    background-color: black;
    margin: auto;
    font-family: "Roboto Condensed", sans-serif;
}

header label .logo{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    margin: 10px;
    height: 35px;
}

h1, h2, p, div {
    color: var(--accent-color);
    margin: 0;
    padding: 0;
}

header > nav > div.logo > label > a{
    color: var(--accent-color);
    text-decoration: none;
    min-width: 150px;
    text-align: left;
}

#logo-picture{
    height: 35px;
    width: 45px;
    margin-right: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

#chat-icon{
    height: 16px;
    width: 18px;
    margin: -4px; 
    padding: 1px;
}

/*#text-logo{
    margin-left: 5px; 
    margin-top: 10px; 
    height: 35px;
    width: 130px;
} */

/*ul.logo{
    max-width: 150px;
    margin: 0px;
    padding: 0;
}*/

/* div.logo{
    max-width: 150px;
    margin: 0px;
    padding: 0;
} */

header nav .menu{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex: 1;
    align-items: center;
}

header div label .logo{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    flex: 1;
    align-items: flex-end;
}

.logo{
    font-family: "Krona One", sans-serif;
    text-align: left;
    font-size: 1rem;
    margin: auto;
    padding: 0;
    text-decoration: none;
    max-width: 150px;
}

ul.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    border: 1px solid transparent;
    padding: 5px;
    transition: all 0.7s;
}

header > nav > ul.menu > li > a:hover{
    border: 1px solid var(--accent-color);
}

main nav .sidebar{
    position: fixed;
    left: 0.3%;
    bottom: 50%;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    border: 1px solid var(--accent-color);
    background-color: black;
    transition: all 0.7s;
}

main ul.sidebar a{
    color: var(--accent-color);
    text-decoration: none;
    transition: all 0.4s;
}

.sidebar:hover{
    border: 1px solid var(--main-color);
    position: fixed;
    left: 0.3%;
    bottom: 50%;
    margin: 0px;
    padding: 9px;
    background-color: black;
    }

ul.sidebar a:hover{
    padding-left: 5px;
}

@media (max-width: 1170px) {
    main nav .sidebar{
        position: fixed;
        left: 1%;
        bottom: 50%;
        margin: 0px;
        padding: 5px;
        list-style-type: none;
        border: 1px solid transparent;
        background-color: transparent;
        transition: all 0.7s;
    }

    main ul.sidebar a{
        color: transparent;
        text-decoration: none;
    }
}

@media (min-width: 641px) {                    
    #logo > label {
        justify-content: center;
        align-content: center;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.text{
    background-image: url(../img/special-space.png);
    background-position: top;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 100px;
}

.carousel-inner{
    align-content: center;
    justify-content: center;
    text-align: center;
}

.carousel div{
    position: relative;
    text-align: center;
}

#mars-link-text{
    color: var(--accent-color);
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#main-text-main-page{
    display: flex;
    font-size: 6rem;
    text-transform: uppercase;
    align-self: start;
    text-align: left;
    width: 350px;
    margin-top: 50px;
    line-height: 80px;
}

.main-page-paragraph{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-content: center;
    text-align: right;
    max-width: 450px;
}

body div .products{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 200px;
}

#mars-planet{
    width: 90%;
}

body #mars-text{
    font-family: 'Krona One', sans-serif;
    color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    transition: all 0.7s;
    padding: 3px;
    position: absolute;
    text-align: center;
}

body #mars-text:hover{
    color: var(--accent-color);
}

#last-review{
    justify-content: flex-start;
}

.reviews{
    display: grid;
}

.first-item{
    
}