@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:wght@700&display=swap");

:root{
    --main-color: black;
    --accent-color: white;
    scroll-behavior: smooth;
}

body{
    max-width: 1300px;
    background-color: black;
    margin: auto;
}

h1, h2, p, div {
    color: var(--accent-color);
    margin: 0;
    padding: 0;
}

#logo-picture{
    height: 35px;
    width: 35px;
}

header nav .menu{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex: 1;
}

.logo{
    font-family: "Krona One", sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul.menu a:not(.logo){
    text-transform: uppercase;
    text-decoration: none;
}