@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:wght@700&display=swap");

*, ::after, ::before {
    box-sizing: border-box;
}

/* html {
    overflow-y: hidden;
  } */

:root{
    font-family: "Roboto Condensed", sans-serif;
    --main-color: black;
    --second-color: white;
    --third-color: rgba(182, 0, 0, 0.432);
    scroll-behavior: smooth;
}

body{
    max-width: 1100px;
    background-color: black;
    margin: auto;
    font-family: "Roboto Condensed", sans-serif;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--main-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenavItems{
      display: grid;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 35%;
      z-index: 999;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: var(--second-color);
    z-index: 999;
    transition: 0.5s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgba(182, 0, 0, 0.432);
    transition: 0.5s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    z-index: 999;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #hamburger{
      display: grid;
      margin: -3px 0 0 0;
      justify-content: center;
      align-items: center;
  }
/* NAVBAR */
nav.menu{
    margin: 5px 1px 1px 1px;
    display: grid;
    grid-template-columns: 35% 25% 13% 13% 13%;
    /* grid-auto-rows: auto; */
    /* grid-gap: 1em; */
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: var(--main-color);
}

.menu{
    border: 1px solid var(--second-color);
}

.menu #logo-picture{
    border-right: 1px solid var(--second-color);
    transition: all 0.5s;
}

.menu #logo-picture:hover{
    background-color: var(--third-color);
    transition: all 10s;
}

/* header label .logo{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    margin: 15px 0 0 0 ;
    height: 30px;
} */

h1, h2, p, div{
    color: var(--second-color);
    margin: 0;
    padding: 0;
}

h4{
    text-decoration: none;
    color: var(--second-color);
    text-transform: uppercase;
}

.d-flex a{
    border: 1px solid transparent;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
    color: var(--second-color);
    text-transform: uppercase;
    transition: 0.3s;
}

.d-flex a:hover{
    border-top: 1px solid var(--second-color);
    border-bottom: 1px solid var(--second-color);
    background-color: rgba(182, 0, 0, 0.432);
    transition: 0.3s;
}

/* header > nav > div.logo > label > a{
    color: var(--second-color);
    text-decoration: none;
    min-width: 150px;
    text-align: left;
} */

/* #logo-picture{
    height: 35px;
    width: 45px;
    margin-right: 5px;
    padding-left: 10px;
    margin-top: 5px;
} */

#chat-icon{
    height: 16px;
    width: 18px;
    margin: -1px 4px 0 4px;
    /* margin: -4px; 
    padding: 1px; */
}

/* header nav .menu{
    position: relative;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex: 1;
    /* align-items: center; 
} */

/* header div label .logo{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    flex: 1;
    align-items: flex-end;
} */

.logo{
    text-decoration: none;
    text-align: left;
    transition: all 0.5s;
    /* max-width: 150px; */
}

/* .logo:hover{
    background-color: var(--second-color);
    transition: all 0.5s;
} */

/* ul.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--second-color);
    border: 1px solid transparent;
    padding: 5px;
    transition: all 0.7s;
} */

#cart-text{
    color: var(--second-color);
    transition: all 0.5s;
    text-transform: uppercase;
    margin: 3px 4px 0 4px;
    padding: 3px 4px 3px 4px;
    border: 1px solid transparent;
}

#cart-text:hover{
    text-decoration: none;
    border: 1px solid var(--second-color);
    transition: all 0.5s;
}

/* ,
input[type='submit']  */
header button{
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* padding: 8px 12px; */
}

button:focus {
  outline: none;
}

.cta-btn {
  padding: 0 10px 0 10px;
  font-size: 24px;
}

.modal-container {
    background-color: var(--third-color);
    display: none;
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  display: grid;
  background-color: var(--main-color);
  position: absolute;
  /* overflow: hidden; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
  height: 100%;
  animation-name: modalopen;
  animation-duration: 0.3s;
  justify-content: center;
  align-content: center;
  /* text-align: center; */
}

.modal div{
    background-color: var(--main-color);
}

.modal-content {
  display: grid;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

div.modal-content a{
    color: var(--second-color);
    text-decoration: none;
    background-color: var(--main-color);
    transition: 0.5s;
    border: 1px solid transparent;
}

div.modal-content a:hover{
    color: rgb(182, 0, 0);
    transition: 0.5s;
    border: 1px solid transparent;
}

div.hamburger{
    width: 15px;
    height: 2px;
    background-color: var(--second-color);
    margin: 3px 4px 0 4px;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* /NAVBAR */

div article{
    position: absolute;
}

.card{
    background-color: var(--main-color);
    border-radius: 0;
    border: 1px solid var(--second-color);
    transition: all 0.4s;
    margin: 3px;
    height: 100%;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

.card a{
    text-decoration: none;
}

.card-text{
    color: var(--second-color);
    text-decoration: none;
}

.card-text:hover{
    text-decoration: none;
}


footer{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    margin: 75px 0 0 0;
}